/* html {
	background-image: url("https://i.ibb.co/fX19xLf/Untitled-1.jpg");
	background-size: 100%;

} */

body {
	background-image: url('https://i.ibb.co/fX19xLf/Untitled-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	min-height: 100vh;
}
header {
	color: blanchedalmond;
	font-size: 36px;
	text-align: center;
	font-family: fantasy;
	padding: 25px;
	background-color: rgba(47, 79, 79, 0.6);
}
h2 {
	color: blanchedalmond;
	font-family: fantasy;
}
.rulesList {
	color: blanchedalmond;
	font-family: fantasy;
}
.rules {
}

.gameButtons {
	/* width: 100px;
	height: 50px; */
	filter: brightness(50%);
	text-align: center;
}
/*These shapes I got from: https://css-tricks.com/the-shapes-of-css/ */
#green {
	border-style: solid;
	border-color: transparent transparent green transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 50px;
	box-sizing: content-box;
	position: relative;
	margin: 20px 0 50px 0;
	display: inline-block;
}
#green:after {
	content: '';
	position: absolute;
	top: 25px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: green transparent transparent transparent;
	border-width: 70px 50px 0 50px;
}
#red {
	position: relative;
	width: 100px;
	height: 90px;
	display: inline-block;
}
#red:before,
#red:after {
	position: absolute;
	content: '';
	left: 75px;
	top: 0;
	width: 75px;
	height: 120px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
#red:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
#yellow {
	width: 0px;
	height: 0px;
	border-right: 60px solid transparent;
	border-top: 60px solid yellow;
	border-left: 60px solid yellow;
	border-bottom: 60px solid yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	display: inline-block;
}
#blue {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 95px solid blue;
	position: relative;
	display: inline-block;
}
#blue:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 95px solid blue;
	position: absolute;
	content: '';
	top: 30px;
	left: -50px;
}

.mainButtons {
	text-align: center;
	padding-bottom: 50px;
}

.game-over {
	background-color: blanchedalmond;
	opacity: 0;
	/* research overlay css */
}
.gameOver-title {
	text-align: center;
}
