body {
	background-image: url('https://i.ibb.co/fX19xLf/Untitled-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	min-height: 100vh;
	min-width: 100vh;
}
header {
	color: blanchedalmond;
	text-align: center;
	font-family: fantasy;
	background-color: rgba(47, 79, 79, 0.6);
}
.header-score {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
h2 {
	color: blanchedalmond;
	font-family: fantasy;
}
.rulesList {
	color: blanchedalmond;
	font-family: fantasy;
}
.rules {
}

/*These shapes I got from: https://css-tricks.com/the-shapes-of-css/ */
#green {
	border-style: solid;
	border-color: transparent transparent green transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 50px;
	box-sizing: content-box;
	position: relative;
	margin: 20px 0 50px 0;
	/* display: inline-block; */
	
}
#green:after {
	content: '';
	position: absolute;
	top: 25px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: green transparent transparent transparent;
	border-width: 70px 50px 0 50px;
}
#red {
	position: relative;
	width: 100px;
	height: 90px;
	/* display: inline-block; */
}
#red:before,
#red:after {
	position: absolute;
	content: '';
	left: 75px;
	top: 0;
	width: 75px;
	height: 120px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
#red:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
#yellow {
	width: 0px;
	height: 0px;
	border-right: 60px solid transparent;
	border-top: 60px solid yellow;
	border-left: 60px solid yellow;
	border-bottom: 60px solid yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	/* display: inline-block; */
	position: relative;
}
#blue {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 95px solid blue;
	position: relative;
	/* display: inline-block; */
}
#blue:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 95px solid blue;
	position: absolute;
	content: '';
	top: 30px;
	left: -50px;
}

.mainButtons {
	text-align: center;
	padding-bottom: 150px;
	padding-right: 25px;
	margin: -5vh auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.gameButtons {
	filter: brightness(50%);
	/* padding-left: 100px; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* margin: -5vh auto; */
	/* padding: 0 100px ; */
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.home-title {
	text-transform: uppercase;
	display: block;
	position: relative;
	font-size: 6rem;
	letter-spacing: 10px;
}
.title-home:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	height: 4px;
	transform: rotate(-10deg);
	background-color: #111;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.buttonForGame {
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.25rem;
	animation: 2s linear infinite blink;
}
.home main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
}

main {
	min-height: 100vh;
	display: flex;
}
.home {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}
.home-title {
	color: white;
}

.startButton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: -35vh auto;
}